@import 'tailwindcss';

@import './custom/base.css';
@import './custom/components.css';
@import './custom/utilities.css';

@theme {
    --aspect-br: 2.39 / 1;
    --breakpoint-xs: 24rem;
    --color-dark: #151515;
    --color-light: #fef9e5;
    --color-primary: #f8303b;
    --ease-cool: cubic-bezier(0, 0, 0.5, 1);
    --font-orbitron: 'Orbitron';
    --font-satoshi: 'Satoshi-Variable';
    --text-10xl: 10rem;
    --text-10xl--line-height: 1.2;
}
